/* main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
} */

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

section {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

article {
  border: 2px solid black;
  width: 400px;
  margin: 0;
  position: relative;
}

h2 {
  font-size: large;
}
img {
  height: 220px;
  width: 200px;
}

.activeNone {
  display: none;
}

article.isEvilTrue::after {
  content: "Evil";
  padding: 1em;
  background-color: red;
  position: absolute;
  bottom: 10%;
  right: 20%;
}
